/* # define the properties of themes
 *
 * -> should set --bg, --fg and --sbg
 *
 * 	.theme.example {
 *		--bg: #f5f5f5;
 *		--fg: #3a3a3a;
 *			
 *		--sbg: white;
 * 	}
 */

.theme.light {
	--bg: #f6f7f8; /* #f5f5f5 */
	--fg: #3a3a3a;
	
	--sbg:#e5e5e5;

	--shadow: rgba( 0, 0, 0, 20%);
}

.theme.dark {
	--bg: #21242a; /* #19171a */
	--fg: #d8dee9;
	
	--sbg: #383838;
	
	--shadow: rgba( 255, 255, 255, 20%);
}

.theme.neon {
	--bg: transparent;
	--fg: white;

	--sbg: rgb(24, 24, 24);
    mix-blend-mode: difference;

	background-image: url("https://pbs.twimg.com/media/FH9KQSOVUAIXVbN?format=jpg&name=4096x4096");
	background-size: 150%;
	background-position: -250px -100px;
}